openapi: 3.2.0
info:
  title: Merqube Identifier API
  version: 4.40.0
  contact:
    email: support@merqube.com
    name: API Support
    url: https://www.merqube.com/contact
  description: 'Operations tagged identifier across 2 of this provider''s published API definitions: merqube-api-openapi.json, merqube-api-raw.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production server
  url: https://api.merqube.com
- description: Testing server for next generation features
  url: https://api.staging.merqube.com
tags:
- description: tickers for various providers
  name: identifier
paths:
  /identifier:
    get:
      description: return all currently supported identifier types
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: 200 response
      summary: return all currently supported identifier types
      tags:
      - identifier
    servers:
    - description: Production server
      url: https://api.merqube.com
    - description: Testing server for next generation features
      url: https://api.staging.merqube.com
  /identifier/{provider}:
    parameters:
    - $ref: '#/components/parameters/providerParam'
    get:
      description: Get all identifiers for this provider
      parameters:
      - $ref: '#/components/parameters/filterParam'
      - $ref: '#/components/parameters/idsParam'
      - $ref: '#/components/parameters/nameParam'
      - $ref: '#/components/parameters/namesParam'
      - $ref: '#/components/parameters/namespaceParam'
      - $ref: '#/components/parameters/fieldsParam'
      - $ref: '#/components/parameters/debugParam'
      - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'
                  results:
                    items:
                      $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
                    type: array
                type: object
          description: 200 response
      summary: Get all identifiers for this provider
      tags:
      - identifier
    post:
      description: Create a new identifier for this provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierUUIDPost'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  id:
                    description: the uuid of this identifier
                    type: string
                  status:
                    type: string
                type: object
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized to perform this operation
      summary: Create a new identifier for this provider
      tags:
      - identifier
    servers:
    - description: Production server
      url: https://api.merqube.com
    - description: Testing server for next generation features
      url: https://api.staging.merqube.com
  /identifier/{provider}/{uuid}:
    parameters:
    - $ref: '#/components/parameters/providerParam'
    - $ref: '#/components/parameters/uuidParam'
    delete:
      description: Delete an identifier for this provider
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: identifier does not exist
      summary: Delete an identifier for this provider
      tags:
      - identifier
    get:
      description: Returns the identifier for this provider with this uuid
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
          description: 200 response
        '403':
          description: not authorized to perform this operation
        '404':
          description: identifier does not exist
      summary: Returns the identifier for this provider with this uuid
      tags:
      - identifier
    patch:
      description: Partialy update an identifier for this provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: any fields from an identifier Manifest
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: identifier does not exist
      summary: Partially update an identifier for this provider
      tags:
      - identifier
    put:
      description: Replace an identifier for this provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: identifier does not exist
      summary: Replace an identifier for this provider
      tags:
      - identifier
    servers:
    - description: Production server
      url: https://api.merqube.com
    - description: Testing server for next generation features
      url: https://api.staging.merqube.com
components:
  schemas:
    IdentifierUUIDPatchPutGet:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/IdentifierUUIDPost'
      - $ref: '#/components/schemas/CrudExtra'
      type: object
    CrudExtra:
      additionalProperties: false
      properties:
        id:
          type: string
        namespace:
          type: string
        status:
          $ref: '#/components/schemas/Status'
      required:
      - id
      - status
      - namespace
      type: object
    IdentifierUUIDPost:
      additionalProperties: false
      description: Identifier for a given provider. Will be referenced via the name field of the Identifier section
      properties:
        display_name:
          type: string
        index_name:
          type: string
        metric:
          type: string
        name:
          description: unique name among all other Identifiers of the provider resource type.
          pattern: ^[^!*'() ;:@&=+$,/?%#\[\]]
          type: string
        namespace:
          type: string
        num_days:
          description: Number of days to disseminate data for
          minimum: 0
          type: integer
        provider_kwargs:
          anyOf:
          - $ref: '#/components/schemas/BloombergProviderKwargs'
          - $ref: '#/components/schemas/ReutersProviderKwargs'
          - $ref: '#/components/schemas/SecapiProviderKwargs'
          - $ref: '#/components/schemas/NasdaqProviderKwargs'
        rounding_decimals:
          description: If rounding_type=standard, corresponds to number of decimal places to round to. If rounding_type=sigfig, corresponds to number of significant figures to round to.
          type: integer
        rounding_type:
          default: standard
          description: Type of rounding to apply to the disseminated data. standard = normal python round(), sigfig = significant figures rounding.
          enum:
          - standard
          - sigfig
          type: string
        start_date:
          format: date
          type: string
        ticker:
          type: string
      required:
      - name
      - ticker
      - index_name
      type: object
    ReutersProviderKwargsPostType:
      description: How to post the data to Reuters, either the end of day method (EOD), real time method (RT) or both (EOD_AND_RT)
      enum:
      - EOD
      - RT
      - EOD_AND_RT
      - EOD_AND_RT_COMBINED
      type: string
    BloombergProviderKwargs:
      additionalProperties: false
      description: Bloomberg provider custom arguments
      properties:
        post_type:
          $ref: '#/components/schemas/BloombergProviderKwargsPostType'
      required:
      - post_type
      type: object
    BloombergProviderKwargsPostType:
      description: How to post the data to Bloomberg, either the end of day method (EOD), real time method (RT) or both (EOD_AND_RT)
      enum:
      - EOD
      - RT
      - EOD_AND_RT
      type: string
    Provider:
      description: currently supported providers
      enum:
      - bloomberg
      - reuters
      - morningstar
      - factset
      - nasdaq
      - wind
      - secapi
      example: bloomberg
      type: string
    NasdaqProviderKwargs:
      additionalProperties: false
      description: Nasdaq provider custom arguments
      properties:
        eod_date_delta:
          description: How many days to offset the Nasdaq date (T if before 6:30pm EST otherwise T + 1) when getting EOD data from the Index
          type: integer
        nasdaq_env:
          description: Which Nasdaq environment to send data to
          enum:
          - testing
          - production
          type: string
      required:
      - nasdaq_env
      type: object
    Status:
      properties:
        created_at:
          type: string
        created_by:
          type: string
        last_modified:
          type: string
        last_modified_by:
          type: string
        locked_after:
          description: If this is set (non null), the manifest is locked for all edits to any other field after this timestamp. A PUT/PATCH may be used to first unlock the manifest, by setting this field (to a max of one hour in the future), or to `null` again, to make other edits.
          format: date-time
          type: string
      required:
      - last_modified
      type: object
    ErrorCodes:
      properties:
        code:
          type: string
        message:
          type: string
      type: object
    ReutersProviderKwargs:
      additionalProperties: false
      description: Reuters provider custom arguments
      properties:
        post_type:
          $ref: '#/components/schemas/ReutersProviderKwargsPostType'
      type: object
    SecapiProviderKwargs:
      additionalProperties: false
      description: Secapi provider custom arguments
      properties:
        metric:
          type: string
        security_name:
          type: string
        security_type:
          type: string
      required:
      - security_type
      - security_name
      - metric
      type: object
  parameters:
    namespaceParam:
      description: Retrieve all resources in this namespace
      in: query
      name: namespace
      required: false
      schema:
        example: my_client_namespace
        type: string
    fieldsParam:
      description: only return these fields, plus id,namespace, for each of the resource definitions
      in: query
      name: fields
      required: false
      schema:
        example: title,description
        type: string
    debugParam:
      description: turns on debugging information by injecting a debug section at the top level
      in: query
      name: debug
      required: false
      schema:
        enum:
        - 'true'
        type: string
    formatParam:
      description: choose csv (Default json)
      in: query
      name: format
      required: false
      schema:
        enum:
        - csv
        type: string
    nameParam:
      description: Taken as an *Exact* name to find a resource by
      in: query
      name: name
      required: false
      schema:
        example: MQUSTB20
        type: string
    idsParam:
      description: Taken as a comma delimited list of ids to pull. ignored if ?names is specified.
      in: query
      name: ids
      required: false
      schema:
        example: abcd1234,wxyz4567
        type: string
    uuidParam:
      description: uuid of the resource
      in: path
      name: uuid
      required: true
      schema:
        type: string
    namesParam:
      description: Taken as a comma delimited list of *Exact* names to find a list if resources by
      in: query
      name: names
      required: false
      schema:
        example: MQUSTB20,MQUSTRAV
        type: string
    filterParam:
      description: Search keyword for filtering; searches name and title for this substring
      in: query
      name: filter
      required: false
      schema:
        example: MQU
        type: string
    providerParam:
      in: path
      name: provider
      required: true
      schema:
        $ref: '#/components/schemas/Provider'
x-refined-from:
- merqube-api-openapi.json
- merqube-api-raw.yaml
x-internal: true
