x-internal: true
# the resolved yaml is the public one on Stoplight since it (also, like the swagger editor) has issues rendering http referenced models

openapi: 3.1.0
info:
  version: 4.40.0
  title: MerQube API
  contact:
    name: API Support
    url: https://www.merqube.com/contact
    email: support@merqube.com
  description: MerQube APIs
servers:
  - url: https://api.merqube.com
    description: Production server
  - url: https://api.staging.merqube.com
    description: Testing server for next generation features

paths:
  /index:
    get:
      description: Get all MerQube indices.
      summary: Get all MerQube indices.
      operationId: index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/filterParam'
        - $ref: '#/components/parameters/idsParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/namesParam'
        - $ref: '#/components/parameters/namespaceParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/debugParam'
        - $ref: '#/components/parameters/formatParam'
        - name: type
          in: query
          description: By default only "prod" indices are shown; comma delimited list of other "types"
          required: false
          schema:
            type: string
            example: test,prod
        - name: fetch_identifiers
          in: query
          description: will return an additional section, linked_resources, that contains all identifier objects that the calling user has permission to that are linked to this index
          required: false
          schema:
            type: string
            enum:
              - 'true'

      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IndexDefinitionPatchPutGet'
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'


    post:
      description: Create a new MerQube index
      summary: Create a new MerQube index
      tags:
        - index
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/IndexDefinitionPost'
                - $ref: '#/components/schemas/CopyFromManifest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Index Creation Response Schema
                properties:
                  id:
                    type: string
                    description: the uuid of this index
                  security_id:
                    type: string
                    description: the uuid of the secapi (type index) security for this index
                  intraday_security_id:
                    type: string
                    description: the uuid of the secapi (type intraday_index) security for this index
                  status:
                    type: string
        '400':
          description: illegal request body
        '403':
          description: not authorized to perform this operation

  /index/{uuid}:
    parameters:
      - $ref: '#/components/parameters/uuidParam'
    get:
      description: Returns the MerQube index with this uuid
      summary: Returns the MerQube index with this uuid
      operationId: index_uuid
      tags:
        - index
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexDefinitionPatchPutGet'
        '403':
          description: not authorized to perform this operation
        '404':
          description: index does not exist
    put:
      description: Replace a MerQube index.
      summary: Replace a MerQube index
      tags:
        - index
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexDefinitionPatchPutGet'
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: index does not exist

    patch:
      description: Partialy update a MerQube index.
      summary: Partially update a MerQube index
      tags:
        - index
      requestBody:
        content:
          application/json:
            schema:
              type: object
              # TODO; problem here is, this would accept any fields from index def but none are required
        description: any fields from an Index Manifest
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: index does not exist

    delete:
      description: Delete a MerQube index. Also tries to delete its identifiers.
      summary: Delete a MerQube index.
      tags:
        - index
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: index does not exist

  /index/{uuid}/stats:
    get:
      description: Returns stats associated with a specific MerQube index
      summary: Returns stats associated with a specific MerQube index
      operationId: index_stats
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - name: metric
          in: query
          description: 'Metric to compute stats on (default: total_return)'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '403':
          description: not authorized to see this namespace
        '404':
          description: index does not exist

  /index/{uuid}/stats2:
    get:
      description: Returns stats associated with a specific MerQube index
      summary: Returns stats associated with a specific MerQube index
      operationId: index_stats
      tags:
        - index
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatsRequest'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
        '403':
          description: not authorized to see this namespace
        '404':
          description: index does not exist

  /index/{uuid}/caps:
    get:
      description: Get the caps of buffer MerQube index
      summary: Get the caps of buffer MerQube index
      operationId: index_caps
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - in: query
          name: base_symbol
          schema:
            type: string
        - in: query
          name: base_name
          schema:
            type: string
        - in: query
          name: base_plot_metric
          schema:
            type: string
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: currently, the date
                          example: '2019-07-20'
                        date:
                          type: string
                          description: date
                          example: '2019-07-20'
                        caps:
                          type: object
                          description: object
                          example:
                            SPY: 0.9036144578
                            cap: 16.8152652821
                            performance: 0.9364820847
        '403':
          description: not authorized to see this namespace
        '404':
          description: index or caps does not exist

  /index/{uuid}/portfolio:
    get:
      description: Get the portfolio of a MerQube index over time
      summary: Get the portfolio of a MerQube index over time
      operationId: index_portfolio
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - name: dates_only
          in: query
          description: include only dates and no portfolio data
          required: false
          schema:
            type: string
            enum:
              - 'true'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - in: query
          name: time
          schema:
            type: string
            format: date-time
        - in: query
          name: download
          schema:
            type: string
            description: either true or false
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: currently, the date
                          example: '2005-07-15T00:00:00'
                        date:
                          type: string
                          description: date
                          example: '2005-07-15T00:00:00'
                        portfolio:
                          type: object
                          description: object where each key is a holding
                          example:
                            OPTION:SPY:CALL:0.0:2006-07-21:BUY:
                              buy_sell: BUY
                              exchgcntry: US
                              exercise_type: European
                              expiry: '2006-07-21'
                              mic: XCME
                              option_type: CALL
                              price: 120.31612463831256
                              price_date: '2005-07-15'
                              root: SPY
                              shares: 8.143322475570033
                              strike: '0.0'
                              strike_percentage: 0
                              symbol: OPTION:SPY:CALL:0.0:2006-07-21:BUY
                              weight: 8.143322475570033
                            OPTION:SPY:CALL:143.4491457664114:2006-07-21:SELL:
                              buy_sell: SELL
                              exchgcntry: US
                              exercise_type: European
                              expiry: '2006-07-21'
                              mic: XCME
                              option_type: CALL
                              price: 0.5857132916126346
                              price_date: '2005-07-15'
                              root: SPY
                              shares: -8.143322475570033
                              strike: '143.4491457664114'
                              strike_percentage: 116.81526528209396
                              symbol: OPTION:SPY:CALL:143.4491457664114:2006-07-21:SELL
                              weight: 8.143322 475570033

        '400':
          description: illegal query arg value (e.g., time is not a date-time)
        '403':
          description: not authorized
        '404':
          description: index or portfolio does not exist

  /index/{uuid}/portfolio_allocations:
    get:
      description: Get the allocations of a MerQube index
      summary: Get the allocations of a MerQube index
      operationId: index_portfolio_allocations
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: currently, the date
                          example: '2005-07-15T00:00:00'
                        date:
                          type: string
                          description: date
                          example: '2005-07-15T00:00:00'
                        portfolio:
                          type: object
                          description: object
                          example:
                            OPTION:SPY:CALL:0.0:2006-07-21:BUY: 8.143322475570033,
                            OPTION:SPY:CALL:0.0:2007-07-20:BUY: null,
                            'OPTION: SPY:PUT:116.66:2006-07-21:BUY': 8.143322475570033,
        '403':
          description: not authorized to see this namespace
        '404':
          description: index or portfolio does not exist

  /index/{uuid}/target_portfolio:
    get:
      description: get the timeseries of target portfolios for an index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - name: statuses
          in: path
          description: a comma seperated list of portfolio statuses to filter by
          required: false
          schema:
            type: string
            default: FINAL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        eff_ts:
                          $ref: '#/components/schemas/IsoTS'
                        target_portfolio:
                          $ref: '#/components/schemas/BasketPortfolio'
        '403':
          description: not authorized to see this namespace
        '404':
          description: index or portfolio does not exist
    put:
      description: replace the portfolio for this index. Will eventually but not immediately affect /index/uuid/portfolio.
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasketPortfolioPutIn'
      responses:
        '200':
          description: OK, portfolio successfully written and validated.
        '400':
          description: bad portfolio or request
        '403':
          description: not authorized
        '404':
          description: index does not exist

  /index/{uuid}/target_portfolio/{target_portfolio_uuid}:
    get:
      description: Get an existing target portfolio
      tags:
        - index
      responses:
        '200':
          description: OK, portfolio successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  eff_ts:
                    $ref: '#/components/schemas/IsoTS'
                  target_portfolio:
                    $ref: '#/components/schemas/BasketPortfolio'
        '400':
          description: Bad request
        '403':
          description: Not authorized
        '404':
          description: Index or target portfolio does not exist

    patch:
      description: Update an existing target portfolio
      tags:
        - index
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasketPortfolioPatchIn'
      responses:
        '200':
          description: OK, portfolio successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketPortfolio'
        '400':
          description: Bad request
        '403':
          description: Not authorized
        '404':
          description: Index or target portfolio does not exist
    delete:
      description: Deletes an existing target portfolio
      tags:
        - index
      responses:
        '200':
          description: OK, target_portfolio deleted
        '403':
          description: Not authorized
        '404':
          description: Index or target_portfolio with the provided UUIDs does not exist

  /index/{uuid}/data_collections:
    get:
      description: get the timeseries of data collections for an index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: # Not strictly enforced due to transformation.  Enforcement handled by put.
                $ref: '#/components/schemas/ListDataCollections'
                type: object
                additionalProperties: true
                properties:
                  data_collection:
                    $ref: '#/components/schemas/DataCollectionsSpec'
        '403':
          description: not authorized to see this namespace
        '404':
          description: index or data collection does not exist

    put:
      description: create or replace the data collection specification for this index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collections:
                  type: array
                  items:
                    $ref: '#/components/schemas/DataCollectionsSpec'
      responses:
        '200':
          description: OK, data collection successfully written and validated.
        '400':
          description: bad data collection or request
        '403':
          description: not authorized
        '404':
          description: index does not exist

  /index/{uuid}/data_collections/raw:
    get:
      description: Get a presigned raw file redirect for s3
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/dataCollectionsNameParam'
      responses:
        '302':
          description: Moved

  /index/{uuid}/run_state:
    get:
      description: get the latest run state of the index. May be enhanced in the future to support quering for a given eff_ts (e.g., historically).
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunState'
        '403':
          description: not authorized to see this index namespace
        '404':
          description: index or does not exist

  /index/{uuid}/data_collections/data:
    get:
      description: fetch the data collections from s3
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/dataCollectionsNameParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Dynamic, depends on the data collection csv.
        '400':
          description: a required query param is missing
        '403':
          description: not authorized to see this namespace
        '404':
          description: index or data collection does not exist
        '409':
          description: Metadata consistency -- malformed s3 URI, or invalid date col

  /index-documents:
    get:
      tags:
        - index
      description: List of index documents
      parameters:
        - in: query
          name: id
          description: UUID of the index.  Optional for index-specific documents.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Returned list of valid documents in bucket
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    schema:
                      type: object
                      properties:
                        filename:
                          type: string
                        shared:
                          description: If this file is shared by multiple indices or not
                          type: boolean
                        last_modified:
                          description: UTC ISO timestamp when file was last modified
                          $ref: '#/components/schemas/IsoTS'

    put:
      tags:
        - index
      description: Upload a document for an index
      parameters:
        - in: query
          name: id
          description: UUID of the index.  Optional for index-specific documents.
          required: false
          schema:
            type: string
        - in: query
          name: force_overwrite
          description: Overwrite a document
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK status of upload
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          description: Invalid multipart request, or file exists and requires overwrite flag.

    index/{uuid}/identifier/{identifier_uuid}:
    delete:
      description: Delete an identifier from an index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/identifierParam'
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: index or identifier does not exist


  index/{uuid}/identifier/{provider}/{identifier_name}:
    delete:
      description: Delete an identifier from an index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/identifierNameParam'
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: index or identifier does not exist

  index/{uuid}/identifier/{provider}:
    post:
      description: Add an identifier to an index
      tags:
        - index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - $ref: '#/components/parameters/providerParam'
      requestBody:
        content:
          application/json:
            schema:
              - $ref: '#/components/schemas/IndexIdentifierUUIDPost'
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '403':
          description: not authorized
        '404':
          description: index does not exist

  /index/{uuid}/documents:
    get:
      tags:
        - index
      description: Get documentation for an index
      parameters:
        - $ref: '#/components/parameters/uuidParam'
        - in: query
          name: document_type
          description: Document key in the index manifest which contains the file name.  Defaults to "methodology".
          required: false
          schema:
            type: string
            default: methodology
      responses:
        '200':
          description: File found and returning presigned url to file
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        '400':
          description: No documents found in the index manifest, or invalid document type
        '403':
          description: not authorized to see this namespace
        '404':
          description: Document not found

  # LEGACY equity secs

  /security/equity_legacy/{secname}/metrics:
    get:
      description: Get the metrics defined for a security
      summary: Get the metrics defined for a security
      operationId: security_metrics_defs
      tags:
        - legacy_equity_security
      parameters:
        - $ref: '#/components/parameters/secnameParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricsDef'
        '403':
          description: not authorized
        '404':
          description: security does not exist

  /security/equity_legacy/{secname}/metrics/{name}:
    get:
      description: Get a metrics definition for a security
      summary: Get a metrics definition for a security
      operationId: security_metrics_def
      tags:
        - legacy_equity_security
      parameters:
        - $ref: '#/components/parameters/secnameParam'
        - in: path
          required: true
          name: name
          schema:
            type: string
          description: name of metric
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsDef'
        '403':
          description: not authorized
        '404':
          description: security does not exist

  /security/equity_legacy/{secname}/metrics/{name}/data:
    get:
      description: Get the metrics timeseries of a MerQube security
      summary: Get the metrics timeseries of a MerQube security
      operationId: security_metrics
      tags:
        - legacy_equity_security
      parameters:
        - name: secname
          in: path
          description: name of the security for which the data is requested
          required: true
          schema:
            type: string
        - in: path
          required: true
          name: name
          schema:
            type: string
          description: name of metric
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metrics'
        '400':
          description: bad metric requested
        '404':
          description: security does not exist

  /security/equity_legacy/{secname}/stats:
    get:
      description: Returns stats associated with a specific MerQube security
      summary: Returns stats associated with a specific MerQube security
      operationId: secstats
      tags:
        - legacy_equity_security
      parameters:
        - $ref: '#/components/parameters/secnameParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - name: metric
          in: query
          description: 'Metric to compute stats on (default: total_return)'
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '403':
          description: not authorized to see this namespace
        '404':
          description: index does not exist

  # Secapi
  /security:
    get:
      description: Returns the list of security types (note - equity is not currently under this)
      summary: Returns the list of security types
      tags:
        - security
      responses:
        '200':
          description: list of security types
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string

  /security/{type}:
    parameters:
      - $ref: '#/components/parameters/sectypeParam'
    post:
      description: Insert new securities
      summary: Insert new securities
      tags:
        - security
      requestBody:
        description: some of this is a WIP RE initial metrics etc. Making a contract may have fields rem
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSecurity'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityCreationResponse'
        '400':
          description: bad request
        '403':
          description: unauthorized
        '409':
          description: duplicate, e.g., name already exists

    get:
      description: get one or more metrics for one or more securities
      summary: get one or more metrics for one or more securities
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/namesParam'
        - in: query
          name: id
          schema:
            type: string
          description: single id to pull
        - $ref: '#/components/parameters/idsParam'
        - in: query
          name: metrics
          schema:
            type: string
          description: comma delimited list of metrics
          example: Level,Portfolio
        - in: query
          name: securityfilter
          schema:
            type: string
          description: |
            a tiny query language that allows filtering securities by their metric values.
            For example, 'get all futures contracts with expiry < x and root == Y'.

            This is not a row-level filter.
            This is intended for 'metadata' like metrics and not for metrics with many values, as the results could be surprising.
            For example, 'get me prices for this week for all stocks that have ever closed above 1000' will contain this weeks results, and those prices may be < 1000;
              however, given this filter, those stocks *at one point* closed > 1000.

            Parenthesis and logicl ors between clauses are not currently supported.
            An arbitrary number of and clauses is supported, and or within a clause is supported, IE 'root = X or Y'

            The supported value oeprators are '!=', '==', '>=', '<=', '<', '>'

            The first parsed operator in each `^` seperated clause is used as the operator - no additional checking is performed, so something like
            `==<=` will be parsed as "is equal to `<=`" which is probably not what you want (and is likely to return an empty result set).

            The supported logical operators are '^' (and, since & conflicts with URL query args) and ',' (or)

            When the target value is a list (contains ','), the only two valid operators are != and ==. IE you cannot use <=X,Y etc.

            When the operator is '==' and the value is '*', it means "the security has this metric defined at least once" (ie, we don't care about the value, just that the row exists)

            Examples -

              futures_contract...&securityfilter=root==BTC,B6 - all contracts with root euql to BTC or B6

              futures_contract...&securityfilter=root==BTC^expiry.merq>=2022-01-01T00:00:00 - all contracts with BTC root expiring in 2022 or later

              futures_root...&securityfilter=cme_limit_scaling_factor!=1.0 - all roots with a special/custom scaling factor such as cents

            It can also replace the names= parameter, e.g.,

               futures_root...&securityfilter=name==A6,B6 - get the roots named either A6 or B6 (returns 2 records)

        - in: query
          name: namespace
          schema:
            type: string
          description: only return securities in this namespace
          example: mybank
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/formatParam'
        - name: as_of
          in: query
          description: view the database as_of a certain timestamp; data corrections that were backdated but inserted after this timestamp are ignored
          schema:
            description: should be a date-time as a string; YYYY-mm-dd HH-mm-ss
            type: string
        - name: since
          in: query
          description: view only data that was received since this timestamp. Note that because data could be corrected for previous days (eff_ts), this does not necessarily mean that eff_ts >= the since date. This will obtain data that was known about on or after the since date, but that data could be a correction for previous days.
          schema:
            description: should be a date-time as a string; YYYY-mm-dd HH-mm-ss
            type: string
        - name: raw
          in: query
          description: only applies when format!=csv. Includes additional information about the raw security api records, such as the provider timestamp and the source of the data. This is an employee only feature.
          schema:
            type: boolean
        - name: show_full_history
          in: query
          description: Shows the full history of records including corrected records (that is, no `max(prov_ts)`)). This is an employee only feature. Also implies raw=true automatically. NOTE, this breaks the typical unique index of `id/eff_ts/metric` because if there were corrections, the metric may have changed multiple times - the new unique index includes `prov_ts` in this case.
          schema:
            type: boolean
        - name: debug
          in: query
          description: turns on debugging information by injecting a debug section at the top level
          required: false
          schema:
            type: string
            enum:
              - 'true'
        - name: validated_only
          in: query
          description: Only return records that have been validated by internal data quality system. Defaults to false
          schema:
            type: boolean
        - $ref: '#/components/parameters/preferReadReplicaParam'

      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityMetrics'
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'

            text/csv:
              example: ts,index,Level,Portfolio 2021-07-21T00:00:00,XXX,1,[...]

        '403':
          description: not authorized

  /security/{type}/data:
    post:
      description: Insert new security metrics
      summary: Insert new security metrics
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/sectypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SecurityMetrics'
      responses:
        '200':
          description: ok
        '400':
          description: data in request body is malformed or not of the expected format
        '403':
          description: not authorized

  /security/{type}/data/delete:
    post:
      description: |
        Mark existing security metrics as deleted - not really RESTful, more of an RPC endpoint, that allows the bulk (soft) deletion of records.
        Records are not hard-deleted; as in "as_of" queries are preserved, but they are marked with a sentinel that causes them not to be served with more recent or non-as of queries.
        Note -  if the goal is to insert *a correction* - as in, there *should be a metric for this id/eff_ts, but the current value is wrong*, this method is NOT for that case.
        That case should be handled by doing a normal insert with a higher prov_ts.
        This delete is for the case where data should not have existed (or "was NULL") for an eff_ts as known by a given prov_ts.
        Prov_ts is optional on this method.
        If prov_ts is supplied, the deletion will take effect if theres no data with a higher prov_ts, but will not take effect if new inserts have a higher prov_ts. This [optional] acceptance of prov_ts is to support replaying data in any order, where data is added at prov_ts1, deleted at at prov_ts2, but then re-added (After the delete) by the provider at prov_ts3 - we want the results to be consistent regardless of what order these are replayed in.
        If prov_ts is not supplied, it is set to episolon greater than the current max prov_ts, and will take effect until newer data with a higher prov_ts comes in.
        It is reccomended that prov_ts is supplied unless the goal is absolutely to null out whatever the latest value is.
      summary: Mark existing security metrics as deprecated
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/sectypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - records
              properties:
                records:
                  type: array
                  items:
                    $ref: '#/components/schemas/SecurityMetricsDeletion'

      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  successful_deletions:
                    type: number

        '400':
          description: data in request body is malformed or not of the expected format
        '403':
          description: not authorized

  /security/{type}/metrics:
    get:
      description: Get the metrics defined for a set of securities, however this only currently supports getting exactly one by name - more to come. That is, this allows you to query the metric definitions of a security by name rather than by id.
      summary: Get the metrics defined for a set of securities
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/sectypeParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/preferReadReplicaParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetricsSchema'

  /security/{type}/{secid}:
    delete:
      description: Delete a security. It can be remade with the same name after - but this destroys all metrics, and as_of and since.
      summary: Delete a security
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/sectypeParam'
        - name: secid
          in: path
          description: id of the security for which the data is requested
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
        '403':
          description: not authorized
        '404':
          description: security does not exist

  /security/{type}/{secid}/metrics:
    get:
      description: Get the metrics defined for a given security by id
      summary: Get the metrics defined for a givenn security by id
      tags:
        - security
      parameters:
        - $ref: '#/components/parameters/sectypeParam'
        - name: secid
          in: path
          description: id of the security for which the data is requested
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/preferReadReplicaParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetricsSchema'

        '403':
          description: not authorized
        '404':
          description: security does not exist

  # identifiers
  /identifier:
    get:
      description: return all currently supported identifier types
      summary: return all currently supported identifier types
      tags:
        - identifier
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /identifier/{provider}:
    parameters:
      - $ref: '#/components/parameters/providerParam'
    get:
      description: Get all identifiers for this provider
      summary: Get all identifiers for this provider
      tags:
        - identifier
      parameters:
        - $ref: '#/components/parameters/filterParam'
        - $ref: '#/components/parameters/idsParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/namesParam'
        - $ref: '#/components/parameters/namespaceParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/debugParam'
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'
    post:
      description: Create a new identifier for this provider
      summary: Create a new identifier for this provider
      tags:
        - identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierUUIDPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: the uuid of this identifier
                  status:
                    type: string
        '400':
          description: illegal request body
        '403':
          description: not authorized to perform this operation

  /identifier/{provider}/{uuid}:
    parameters:
      - $ref: '#/components/parameters/providerParam'
      - $ref: '#/components/parameters/uuidParam'
    get:
      description: Returns the identifier for this provider with this uuid
      summary: Returns the identifier for this provider with this uuid
      tags:
        - identifier
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
        '403':
          description: not authorized to perform this operation
        '404':
          description: identifier does not exist
    put:
      description: Replace an identifier for this provider
      summary: Replace an identifier for this provider
      tags:
        - identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierUUIDPatchPutGet'
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: identifier does not exist

    patch:
      description: Partialy update an identifier for this provider
      summary: Partially update an identifier for this provider
      tags:
        - identifier
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: any fields from an identifier Manifest
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: identifier does not exist

    delete:
      description: Delete an identifier for this provider
      summary: Delete an identifier for this provider
      tags:
        - identifier
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: identifier does not exist

  # security list
  /security_list:
    get:
      description: Get all MerQube security_lists.
      summary: Get all MerQube security_lists.
      tags:
        - security_list
      parameters:
        - $ref: '#/components/parameters/filterParam'
        - $ref: '#/components/parameters/idsParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/namesParam'
        - $ref: '#/components/parameters/namespaceParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/debugParam'
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityListPatchPutGet'
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'
    post:
      description: Create a new MerQube security_list
      summary: Create a new MerQube security_list
      tags:
        - security_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityListPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: the uuid of this security_list
                  status:
                    type: string
        '400':
          description: illegal request body
        '403':
          description: not authorized to perform this operation

  /security_list/{uuid}:
    parameters:
      - $ref: '#/components/parameters/uuidParam'
    get:
      description: Returns the MerQube security_list with this uuid
      summary: Returns the MerQube security_list with this uuid
      tags:
        - security_list
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityListPatchPutGet'
        '403':
          description: not authorized to perform this operation
        '404':
          description: security_list does not exist
    put:
      description: Replace a MerQube security_list.
      summary: Replace a MerQube security_list
      tags:
        - security_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityListPatchPutGet'
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: security_list does not exist

    patch:
      description: Partialy update a MerQube security_list.
      summary: Partially update a MerQube security_list
      tags:
        - security_list
      requestBody:
        content:
          application/json:
            schema:
              type: object
              # TODO; problem here is, this would accept any fields from security_list def but none are required
        description: any fields from an security_list Manifest
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: security_list does not exist

    delete:
      description: Delete a MerQube security_list.
      summary: Delete a MerQube security_list.
      tags:
        - security_list
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: security_list does not exist

  /helper/index-template/static_basket:
    post:
      description: Generate a full static basket index manifest (does not create an index!)
      summary: Generate a full static basket index manifest (does not create an index!)
      operationId: helper_template_sstr
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStaticBasketConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/sstr:
    post:
      description: Generate a full single stock total return index manifest (does not create an index!)
      summary: Generate a full single stock total return index manifest (does not create an index!)
      operationId: helper_template_sstr
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientSSTRConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/decrement:
    post:
      description: Generate a full single stock total return decrement overlay index manifest (does not create an index!)
      summary: Generate a full single stock total return decrement overlay index manifest (does not create an index!)
      operationId: helper_template_decrement
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientDecrementConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/multi_eb:
    post:
      description: Generate a full equity basket index manifest (does not create an index!)
      summary: Generate a full equity basket index manifest (does not create an index!)
      operationId: helper_template_multieb
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientMultiEBConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body


  /helper/index-template/multi_eb_portfolios:
    post:
      description: Generate a proper POST to target_portfolio - the same two inputs (constituents and levels) as multi_eb, except used to just update the portfolio of an existing index. This is included in template/multi_eb.
      summary: Generate a proper POST to target_portfolio - the same two inputs (constituents and levels) as multi_eb, except used to just update the portfolio of an existing index. This is included in template/multi_eb.
      operationId: helper_template_multieb_ports
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientMultiEBPortUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientTemplateResponse'

        '400':
          description: illegal request body

  # Options

  /helper/index-template/buffer_simple:
    post:
      description: Generate a buffer index
      summary: Generate a buffer index
      operationId: helper_template_buffer
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientBufferConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/single_option:
    post:
      description: Generate a single option index
      summary: Generate a single option index
      operationId: helper_template_single_option
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientSingleOptionConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/option_strategies:
    post:
      description: Generate a Option Strategies Index
      summary: Generate a Option Strategies Index
      operationId: helper_template_option_strategies
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientOptionStrategiesConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/defined_outcome:
    post:
      description: Generate a Defined Outcome Options Index
      summary: Generate a Defined Outcome Optons Index
      operationId: helper_template_defined_outcome
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ClientDefinedOutcomeBufferConfig'
#                Define more stuff here
                - $ref: '#/components/schemas/ClientDefinedOutcomeAcceleratorConfig'
                - $ref: '#/components/schemas/ClientDefinedOutcomeCustomStrategyConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/equity_index:
    post:
      description: Generate a Generalized Equity Index
      summary: Generate a Generalized Equity Index
      operationId: helper_template_equity_index
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientEquityIndexConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/index-template/vol_target:
    post:
      description: Generate a Vol Target Index
      summary: Generate a Vol Target Index
      operationId: helper_template_vol_target
      tags:
        - helper
      requestBody:
        content:
          application/json:
          # For now leave undefined but eventually either copy types from IPA lib, or have lookup IPA openapi.yaml
            schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTemplateResponse'
        '400':
          description: illegal request body

  /helper/solver/defined_outcome:
    post:
      description: Solve for the options prices and variable leg of a Defined Outcome Options Index
      summary: Solve for the options prices and variable leg of a Defined Outcome Options Index
      operationId: helper_solver_defined_outcome
      tags:
        - helper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefinedOutcomeSolverRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedOutcomeSolverResponse'
        '400':
          description: illegal request body

  /helper/options_underlier:
    get:
      description: Returns all the allowed options underlier for the caller
      summary: Returns all the allowed options underlier for the caller
      tags:
        - helper
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsUnderlierGet'
        '403':
          description: not authorized to perform this operation

  /helper/index/run-states:
    get:
      description: Returns the latest index run states for the uuids provided. if no uuids provided will return all
      summary: Return the latest index run states for the uuids provided
      tags:
        - helper
      parameters:
        - $ref: '#/components/parameters/indexUuidsParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object


  /api:
    get:
      description: serves this api in json format
      tags:
        - api
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object

  /optionprice:
    servers:
      - url: https://api.merqurian.com
    post:
      description: MERQUBE OPTIONPRICE API returns the price of a custom option, the implied volatility (vol), implied interest rate (interest_rate), implied dividend yield (dividend_yield), and the option greeks (delta, vega, theta, and gamma). The API requires the underlying (root), date on which the pricing is desired (asofdate), strike of the custom option (strike), expiration (expiry), the type of the option (otype) [Put/Call], and the exercise type (etype)[European/American].
      operationId: get_option_price
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionResponse'
      summary: Custom option pricer
      tags:
        - options
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - root
                - strike
                - asofdate
                - expiry
                - otype
                - etype
              properties:
                root:
                  type: string
                  enum:
                    - SPY
                    - TLT
                    - QQQ
                    - IWM
                  description: Code for the underlying instrument on which the option is priced.
                etype:
                  description: The option exercise type is either “European”, which can only be exercised at expiration, or “American”, which can be exercised at any time up to and including the expiration date.
                  enum:
                    - European
                    - American
                  type: string
                asofdate:
                  type: string
                  format: date
                  example: 2020-05-26T00:00:00Z
                  description: The date as of which the price of the option is being requested. Any date between 01-10-2005 and the most recent trading date of the underlying asset.
                expiry:
                  type: string
                  format: date
                  example: 2021-02-15T00:00:00Z
                  description: The expiry or expiration date is the date on which the options contract expires. Any date between 01-10-2005 and the expiration date of the longest dated options series on the given underlying asset.
                strike:
                  type: number
                  format: number
                  example: 300
                  description: Strike of the option being priced. Any number greater than zero.
                otype:
                  type: string
                  enum:
                    - put
                    - call
                  description: The option type refers to whether an option is a put option or a call option.
                extrapolation_days:
                  type: integer
                  default: 0
                  example: 0
                  description: This parameter allows the pricing of the option to use an implied dividend schedule to be moved forward by the number of days specified in this parameter. Any number greater than or equal to zero. Default value is zero.
                scale_dividend:
                  type: number
                  format: number
                  default: 1
                  example: 1
                  description: Allows all of the dividends in the implied dividend schedule to be scaled by this input parameter. Any number greater than zero and less than 5. Default value is one.
                volatility_shift:
                  type: number
                  format: number
                  default: 0
                  example: 0
                  description: Allows the user to change the implied volatility that is used to compute the price of the option (calculated from the volatility surface) by adding the input value to the one computed. For example, if the parameter provided is 0.1, the implied volatility used to calculate the option price would add 10% to the implied volatility calculated internally from the volatility surface. Number between -0.25 and 0.25, default value of zero.
                request_id:
                  type: string
                  description: This request id is returned back to the sender in the response
        description: Parameters for the option to price
        required: true

  /findstrike:
    servers:
      - url: https://api.merqurian.com
    post:
      description: MERQUBE FINDSTRIKE API returns the strike of a custom option given the underlying (root), the budget (cost of the option for which the strike is desired), date on which the strike price is desired (asofdate), expiration date of the option (expiry), and the type of the option (otype) [Put/Call], and the exercise type (etype)[European/American]. The API response contains the parameter strike which provides the strike of the option for the given budget.
      operationId: find_strike_for_given_budget
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindStrikeResponse'
      summary: Given budget and other criteria, find strike price
      tags:
        - options
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - root
                - budget
                - asofdate
                - expiry
                - otype
                - etype
              properties:
                root:
                  type: string
                  enum:
                    - SPY
                    - TLT
                    - QQQ
                    - IWM
                  description: Code for the underlying instrument on which the option is priced.
                etype:
                  description: The option exercise type is either “European”, which can only be exercised at expiration, or “American”, which can be exercised at any time up to and including the expiration date.
                  enum:
                    - European
                    - American
                  type: string
                asofdate:
                  type: string
                  format: date
                  example: 2020-05-26T00:00:00Z
                  description: The date as of which the price of the option is being requested. Any date between 01-10-2005 and the most recent trading date of the underlying asset.
                expiry:
                  type: string
                  format: date
                  example: 2021-02-15T00:00:00Z
                  description: The expiry or expiration date is the date on which the options contract expires. Any date between 01-10-2005 and the expiration date of the longest dated options series on the given underlying asset.
                budget:
                  type: number
                  format: number
                  example: 3.1
                otype:
                  type: string
                  enum:
                    - put
                    - call
                  description: The option type refers to whether an option is a put option or a call option.
                extrapolation_days:
                  type: integer
                  default: 0
                  example: 0
                  description: This parameter allows the pricing of the option to use an implied dividend schedule to be moved forward by the number of days specified in this parameter. Any number greater than or equal to zero. Default value is zero.
                scale_dividend:
                  type: number
                  format: number
                  default: 1
                  example: 1
                  description: Allows all of the dividends in the implied dividend schedule to be scaled by this input parameter. Any number greater than zero and less than 5. Default value is one.
                volatility_shift:
                  type: number
                  format: number
                  default: 0
                  example: 0
                  description: Allows the user to change the implied volatility that is used to compute the price of the option (calculated from the volatility surface) by adding the input value to the one computed. For example, if the parameter provided is 0.1, the implied volatility used to calculate the option price would add 10% to the implied volatility calculated internally from the volatility surface. Number between -0.25 and 0.25, default value of zero.
                request_id:
                  type: string
                  description: This request id is returned back to the sender in the response
        description: Parameters for the option to price
        required: true
  /target_portfolio_handler:
    get:
      description: Get all MerQube portfolio_handler.
      summary: Get all MerQube portfolio_handler.
      tags:
        - portfolio_handler
      parameters:
        - $ref: '#/components/parameters/filterParam'
        - $ref: '#/components/parameters/idsParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/namesParam'
        - $ref: '#/components/parameters/namespaceParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/debugParam'
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TargetPortfolioHandlerPatchPutGet'
                  error_codes:
                    $ref: '#/components/schemas/ErrorCodes'
    post:
      description: Create a new MerQube portfolio_handler
      summary: Create a new MerQube portfolio_handler
      tags:
        - portfolio_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetPortfolioHandlerPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: the uuid of this portfolio_handler
                  status:
                    type: string
        '400':
          description: illegal request body
        '403':
          description: not authorized to perform this operation

  /target_portfolio_handler/{uuid}:
    parameters:
      - $ref: '#/components/parameters/uuidParam'
    get:
      description: Returns the MerQube portfolio_handler with this uuid
      summary: Returns the MerQube portfolio_handler with this uuid
      tags:
        - portfolio_handler
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetPortfolioHandlerPatchPutGet'
        '403':
          description: not authorized to perform this operation
        '404':
          description: portfolio_handler does not exist
    put:
      description: Replace a MerQube portfolio_handler.
      summary: Replace a MerQube portfolio_handler
      tags:
        - portfolio_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetPortfolioHandlerPatchPutGet'
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: portfolio_handler does not exist

    patch:
      description: Partialy update a MerQube portfolio_handler.
      summary: Partially update a MerQube portfolio_handler
      tags:
        - portfolio_handler
      requestBody:
        content:
          application/json:
            schema:
              type: object
              # TODO; problem here is, this would accept any fields from portfolio_handler def but none are required
        description: any fields from an portfolio_handler Manifest
      responses:
        '200':
          description: OK
        '400':
          description: illegal request body
        '403':
          description: not authorized
        '404':
          description: portfolio_handler does not exist

    delete:
      description: Delete a MerQube portfolio_handler.
      summary: Delete a MerQube portfolio_handler.
      tags:
        - portfolio_handler
      responses:
        '200':
          description: OK
        '403':
          description: not authorized
        '404':
          description: portfolio_handler does not exist

  /options/availability_dates/{fysm_id}/{country_code}:
    parameters:
      - $ref: '#/components/parameters/fsymIdParam'
      - $ref: '#/components/schemas/CountryCode'
    get:
      description: Returns a collection of availablity dates for the provided underlier
      summary: Returns a collection of availablity dates for the provided underlier
      tags:
        - options
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
        '403':
          description: not authorized to perform this operation
        '404':
          description: No data available for provided fysm/country code


tags:
  - name: identifier
    description: tickers for various providers
  - name: index
    description: APIs for MerQube Indices
  - name: legacy_equity_security
    description: Equity securities (legacy non secapi)
  - name: options
    externalDocs:
      description: More details at
      url: https://merqube.com/api
    description: Option Pricing APIs
  - name: security
    description: securities
  - name: security_list
    description: lists of securities
  - name: portfolio_handler
    description: list of portfolio handlers


components:
  schemas:
    MetricResult:
      type: object
      properties:
        value:
          type: number
          nullable: true
          description: The computed value of the metric, or null if it failed.
        error:
          type: string
          nullable: true
          description: Error message if the metric could not be computed.

    StatsResponse:
      type: object
      properties:
        metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MetricResult'
          description: A dictionary of computed metrics and their results or errors.

    StatsRequest:
      type: object
      required:
        - return_period
      properties:
        start_date:
          type: string
          format: date
          example: '2006-12-29'
        end_date:
          type: string
          format: date
          example: '2006-12-29'
        index_metric:
          type: string
          example: price_return
          default: price_return
        target_return:
          type: number
          format: float
          minimum: 0
          example: 0
        return_period:
          type: string
          enum:
            - D
            - W
            - M
            - Y
          example: D
        benchmark:
          type: object
          required:
            - identifier
            - identifier_type
            - type
          properties:
            benchmark_type:
              type: string
              enum:
                - MERQUBE_INDEX
                - EQUITY
              example: MERQUBE_INDEX
            identifier_type:
              type: string
              enum:
                - TICKER
                - FSYM_ID
              example: TICKER
            identifier:
              type: string
              example: MY_INDEX_NAME
            metric:
              type: string
              example: index_level

    IntradayPublishConfigWrapper:
      description: oneOfs at the top level of an object lead to hard to work with RootModels in pydantic. Forming this one property object makes importing and passing around this object less painful; there is a lot of code that passes this around.
      type: object
      properties:
        publish_config:
          $ref: '#/components/schemas/IntradayPublishConfig'

    AlertHours:
      type: object
      properties:
        start:
          description: Start of the silent hours in HH:MM 24h format. The timezone is based on the intraday.tzinfo
          type: string
          pattern: ^[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}$
        end:
          description: Start of the silent hours in HH:MM 24h format. The timezone is based on the intraday.tzinfo
          type: string
          pattern: ^[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}$

    IntradayAlertType:
      type: string
      enum:
        - opsgenie
        - slack

    IntradayFlatlineAlerts:
      type: object
      properties:
        enabled:
          description: If the flatline alert should be enabled
          type: boolean
          default: true
        window_length:
          description: window_length in minutes for flatline alert
          default: 5
          type: integer
          minimum: 1
        min_ticks:
          description: Minimum number of ticks in the window to be the same to considered a flatline
          type: integer
          minimum: 2
        alert_hours:
          $ref: '#/components/schemas/AlertHours'
        alert_type:
          $ref: '#/components/schemas/IntradayAlertType'
          default: opsgenie
          description: Type of alert to send when flatline is detected. Default is opsgenie.

    IntradayAlerting:
      description: Alerting configuration for intraday ticks
      type: object
      additionalProperties: false
      properties:
        flatline_alerts:
          $ref: '#/components/schemas/IntradayFlatlineAlerts'

    Intraday:
      allOf:
        - $ref: '#/components/schemas/IntradayPublishConfigWrapper'
        - type: object
          description: Only available for indexes with intraday tick computation
          additionalProperties: false
          required:
            - enabled
            - tzinfo
          properties:
            enabled:
              description: If the intraday process should be run or not
              type: boolean
            security_id:
              description: Security ID of the intraday_index security where ticker data is served
              type: string
            ticker_period:
              description: Duration between ticker datapoints. In seconds
              type: number
              minimum: 1
            tzinfo:
              description: Timezone of intraday tick timestamp comparisons
              type: string
            active_time_ranges:
              type: array
              items:
                $ref: '#/components/schemas/IntradayTickFilter'
            infra_timed_scaling:
              $ref: '#/components/schemas/IntradayInfraTimedScaling'
            calculation_max_retry_delay:
              description: How many seconds to keep retrying the real time calculation before setting the force flag. Defalts to 0 which means retry forever.
              type: integer
              minimum: 0
            resource_cpu_request:
              description: Minimum cpu resources requested in milliCPU
              type: integer
              minimum: 1
            resource_memory_request:
              description: Minimum memory resources requested in mebibytes.
              type: integer
              minimum: 0
            heartbeat_timeout:
              description: Max number of seconds between heartbeats before the rtindex pod is considered unhealthy
              type: integer
              minimum: 1
            startup_failure_timeout:
              description: Max number of seconds to wait for the first heartbeat from the rtindex pod before considering it a failed startup. By default it will wait 40sec
              type: integer
              minimum: 1
            data_refresh_period:
              description: After the rtindex refreshes its data this is the number of seconds to wait before refreshing again. 0 means do not refresh. Defaults to 3600 seconds (60min)
              type: integer
              minimum: 0
            tick_delay:
              description: Number of seconds to delay intraday calculation
              type: integer
              minimum: 0
            alerting:
              $ref: '#/components/schemas/IntradayAlerting'
            ohl_enabled:
              description: Should send Open High Low data to providers
              type: boolean
              default: false
            opening_tick_time:
              description: The time of opening tick in index's timezone. The index will send data against this
              type: string
              pattern: ^(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)$ # need to use single quote her else things break

    # Index definitions
    Administrative:
      type: object
      additionalProperties: false
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - data point
            - verification
            - calculation
            - development
            - administration
        deadlines:
          type: array
          items:
            $ref: '#/components/schemas/Deadline'
        client:
          type: object
          properties:
            requested_by:
              description: this is the actual OAuth token email that originated the POST on index-template (similar to created_by and last_modified_by). Except, this is the user on the templating POST not the actual POST to index because the post to index is going to be a MerQube employee, but we need to capture who originated the templating request aka who called the meta-api. This field is used to put this index on that user's Manage My Indices page.
              type: string
            approved_by:
              description: if a client requests an index to a finanancial institution, and that instituion approves the index parameters for launch, this holds the oauth email of that approver
              type: string
            owner:
              description: the idea here is to capture the client at a higher level than the above, e.g., this index is owned by Bank of Greatness.
              # should probably be made into a real CRUD
              type: string

    IndexDefinitionPost:
      type: object
      title: Index Manifest
      required:
        - description
        - administrative
        - launch_date
        - name
        - stage
        - title
      additionalProperties: false
      properties:
        administrative:
          $ref: '#/components/schemas/Administrative'
        base_date:
          $ref: '#/components/schemas/BaseDate'
        base_year:
          type: integer
        benchmark:
          oneOf:
            - $ref: '#/components/schemas/IndexBenchmark'
            - type: array
              items:
                $ref: '#/components/schemas/IndexBenchmark'
        calc_freq:
          type: string
          enum:
            - Daily
            - Daily, EOD
            - Intraday
        currency:
          type: string
        custom_metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricsSchema'
        description:
          type: string
        display_month:
          type: string
          enum:
            - Jan
            - Feb
            - Mar
            - Apr
            - May
            - Jun
            - Jul
            - Aug
            - Sep
            - Oct
            - Nov
            - Dec
        documents:
          type: object
        excess_strategy:
          type: string
          enum:
            - keep_in_cash
        family:
          type: string
        family_description:
          type: string
        family_codes:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: string
        first_value_date:
          description: the first date that the index has a value; if set, will be < base_date
          $ref: '#/components/schemas/IsoDate'
        identifiers:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/IdentifierUUIDRef'
        intraday:
          $ref: '#/components/schemas/Intraday'
        launch_date:
          type: string
        methodology:
          type: string
        month:
          type: integer
        name:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]{0,99}$
        namespace:
          type: string
        plot_metric:
          type: string
        portfolio_allocation_display:
          type: boolean
          description: whether or not portfolio_allocations are shown on the website. false by default
        portfolio_display:
          type: object
          properties:
            fields:
              type: array
              items:
                type: object
                properties:
                  display_name:
                    type: string
                  field_name:
                    type: string
        portfolio_handler_id:
          type: string
        rebal_freq:
          $ref: '#/components/schemas/RebalFrequency'
        related:
          type: array
          items:
            $ref: '#/components/schemas/Related'
        run_configuration:
          $ref: '#/components/schemas/RunConfig'
        run_configurations:
          type: array
          items:
            $ref: '#/components/schemas/RunConfigLabel'
        sales_force_deal_id:
          type: string
          description: SalesForce Deal ID
        spec:
          $ref: '#/components/schemas/IndexSpec'
        freezer_config:
          $ref: '#/components/schemas/FreezerConfig'
        calculation_check:
          $ref: '#/components/schemas/CalculationCheck'
        stage:
          type: string
          enum:
            - prod
            - test
            - development
            - backtest
            - inqubator
        tags:
          type: string
        title:
          type: string
        webpage:
          $ref: '#/components/schemas/Webpage'
        weighting_method:
          type: string
          enum:
            - Other
            - Equal
        eod_rt_price_check:
          type: boolean
        notify_configuration:
          $ref: '#/components/schemas/NotificationConfig'
        fill_missing_data:
          type: boolean
          description: Controls missing equity price recovery. The API derives this flag from stage and stores true only for backtest; all other stages store false.

    # see https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/
    # On POST, status is illegal. Subsequently, its always there and required on patch/put. Same with ID.
    IndexDefinitionPatchPutGet:
      type: object
      additionalProperties: false
      allOf:
        - $ref: '#/components/schemas/IndexDefinitionPost'
        - $ref: '#/components/schemas/CrudExtra'

    RebalFrequency:
      type: string
      enum:
        - Annual
        - Daily
        - Monthly
        - Quarterly
        - Semi-Annual
        - Weekly
        - Bi-Monthly
        - Intraday
        - None

    IndexSpec:
      type: object
      required:
        - index_class_code
      properties:
        index_class_code:
          type: string
        index_class_args:
          type: object
        index_variables:
          type: object
          description: TODO
        version:
          type: integer


    CalculationCheck:
      type: array
      items:
        type: object
        oneOf:
          - $ref: '#/components/schemas/LevelCheck'
          - $ref: '#/components/schemas/PercentChangeCheck'
          - $ref: '#/components/schemas/HistoryCheck'


    BaseCheck:
      type: object
      required:
        - metric
        - enabled
      properties:
        metric:
          type: string
        enabled:
          type: boolean
        alert_type:
          type: string
          default: fail_computation
          enum:
            - email
            - slack
            - opsgenie
            - fail_computation


    LevelCheckParams:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: number
          nullable: true
        max:
          type: number
          nullable: true


    LevelCheck:
      type: object
      required:
        - check_type
        - params
      allOf:
        - type: object
          properties:
            check_type:
              type: string
              enum:
                - LEVEL_CHECK
        - $ref: '#/components/schemas/BaseCheck'
        - type: object
          properties:
            params:
              $ref: '#/components/schemas/LevelCheckParams'


    PercentChangeCheckParams:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: number
          nullable: true
        max:
          type: number
          nullable: true


    PercentChangeCheck:
      type: object
      required:
        - check_type
        - params
      allOf:
        - type: object
          properties:
            check_type:
              type: string
              enum:
                - PERCENT_CHANGE_CHECK
        - $ref: '#/components/schemas/BaseCheck'
        - type: object
          properties:
            params:
              $ref: '#/components/schemas/PercentChangeCheckParams'


    HistoryCheckParams:
      type: object
      required:
        - days
      properties:
        days:
          type: integer
          minimum: 0
          maximum: 365
          nullable: true


    HistoryCheck:
      type: object
      required:
        - check_type
        - params
      allOf:
        - type: object
          properties:
            check_type:
              type: string
              enum:
                - HISTORY_CHECK
        - $ref: '#/components/schemas/BaseCheck'
        - type: object
          properties:
            params:
              $ref: '#/components/schemas/HistoryCheckParams'


    Related:
      type: object
      required:
        - id
        - name
        - type
      properties:
        default_display:
          type: boolean
          default: false
        id:
          type: string
        metric:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - security
            - index

    Webpage:
      type: object
      properties:
        custom_charts:
          type: array
          items:
            $ref: '#/components/schemas/CustomCharts'
        visible:
          type: boolean
          default: true

    CustomCharts:
      type: object
      additionalProperties: false
      required:
        - name
        - xlabel
        - ylabel
      properties:
        name:
          type: string
        xlabel:
          type: string
        ylabel:
          type: string
        chart_type:
          type: string
          enum:
            - line
            - spline
            - area
            - bar
            - column
          default: line
        compare_mode:
          type: string
          enum:
            - absolute
            - percent
          default: percent
        constructor_type:
          type: string
          enum:
            - chart
            - stockChart
          default: stockChart
        size:
          type: number
          default: 12
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - url
              - array_field
              - values
              - key_field
            properties:
              url:
                type: string
              array_field:
                type: string
              values:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required:
                    - display_name
                    - path
                  properties:
                    display_name:
                      type: string
                    path:
                      type: string
              key_field:
                type: string

    IndexBenchmark:
      type: object
      additionalProperties: false
      required:
        - ticker
        - threshold
      properties:
        ticker:
          type: string
          description: accepts either FSYM_ID, or MQI:XXX to benchmark against another index.
          example: MQI:XXX
        threshold:
          description: the deviation that triggers an outlier event, IE, the daily difference of the index vs the daily difference of the underlying should not be more than this percent
          type: number
          example: 0.05
        index_metric:
          description: the metric of this index to compare against the ticker/threshold, eg can compare some other metric of this index than price_return
          type: string
          default: price_return
          example: total_return
        benchmark_metric:
          type: string
          description: only accepted if the ticker is an MQI. The metric of the benchmark index to compare against; eg can compare to some other metric than price_return of the benchmark
          default: price_return
          example: total_return

    # Idenfitiers/providers

    IdentifierUUIDPost:
      description: Identifier for a given provider. Will be referenced via the name field of the Identifier section
      type: object
      required:
        - name
        - ticker
        - index_name
      # provider is not required here because its in the URL
      additionalProperties: false
      properties:
        display_name:
          type: string
        # needed to make sure tickers arent reused across indices; so we cant point multiple indices at this ticker
        # note however that an index can point to multiple tickers.
        index_name:
          type: string
        metric:
          type: string
        name:
          description: unique name among all other Identifiers of the provider resource type.
          type: string
          # reserved URL chars: https://developers.google.com/maps/url-encoding
          pattern: ^[^!*'() ;:@&=+$,/?%#\[\]]
        namespace:
          type: string
        rounding_decimals:
          type: integer
          description: If rounding_type=standard, corresponds to number of decimal places to round to. If rounding_type=sigfig, corresponds to number of significant figures to round to.
        rounding_type:
          type: string
          enum: [standard, sigfig]
          default: standard
          description: Type of rounding to apply to the disseminated data. standard = normal python round(), sigfig = significant figures rounding.
        provider_kwargs:
          anyOf:
            - $ref: '#/components/schemas/BloombergProviderKwargs'
            - $ref: '#/components/schemas/ReutersProviderKwargs'
            - $ref: '#/components/schemas/SecapiProviderKwargs'
            - $ref: '#/components/schemas/NasdaqProviderKwargs'
        start_date:
          type: string
          format: date
        ticker:
          type: string
        num_days:
          type: integer
          description: Number of days to disseminate data for
          minimum: 0

    IdentifierUUIDPatchPutGet:
      type: object
      additionalProperties: false
      allOf:
        - $ref: '#/components/schemas/IdentifierUUIDPost'
        - $ref: '#/components/schemas/CrudExtra'


    IndexIdentifierUUIDPost:
      type: object
      additionalProperties: false
      allOf:
        - $ref: '#/components/schemas/IdentifierUUIDPost'
        - type: object
          properties:
            enabled:
              type: boolean
              default: true
              description: Determines if the index will disseminate data based to this provider, default is true

    IdentifierUUIDRef:
      description: maps to an identifier resource
      type: object
      additionalProperties: false
      required:
        - name
        - provider
      properties:
        name:
          type: string
        provider:
          $ref: '#/components/schemas/Provider'
        enabled:
          default: true
          description: Determines if the index will disseminate data based on this Identifier
          type: boolean

    Provider:
      description: currently supported providers
      type: string
      enum:
        - bloomberg
        - reuters
        - morningstar
        - factset
        - nasdaq
        - wind
        - secapi
      example: bloomberg

    BloombergProviderKwargsPostType:
      type: string
      description: How to post the data to Bloomberg, either the end of day method (EOD), real time method (RT) or both (EOD_AND_RT)
      enum:
        - EOD
        - RT
        - EOD_AND_RT

    BloombergProviderKwargs:
      type: object
      description: Bloomberg provider custom arguments
      additionalProperties: false
      properties:
        post_type:
          $ref: '#/components/schemas/BloombergProviderKwargsPostType'
      required:
        - post_type

    ReutersProviderKwargsPostType:
      type: string
      description: How to post the data to Reuters, either the end of day method (EOD), real time method (RT) or both (EOD_AND_RT)
      enum:
        - EOD
        - RT
        - EOD_AND_RT
        - EOD_AND_RT_COMBINED

    ReutersProviderKwargs:
      type: object
      description: Reuters provider custom arguments
      additionalProperties: false
      properties:
        post_type:
          $ref: '#/components/schemas/ReutersProviderKwargsPostType'

    SecapiProviderKwargs:
[...]
